/* estilo do catalogo*/

main .borda{
    width: 90%;
    border: 1px solid #8B0000;
    border-radius: 20px;
    padding: 25px;
    margin: 25px auto;
}

.cover-catalogo div img{
       width: 50%;
       display: inline-block;
       padding: 0px 10px ;
             
      
   
}

.imagem :hover{
    border: 3px solid #8B0000; 
    width: 70%; 
    
   
}


@media screen and (min-width: 992px) {
    .cover-catalogo div{
        width: 40%;
        display: inline-block;      
        padding: 5px 10px;

        
    }
 
   
}